# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#lexer
/bin/lexer

#obj
/obj/lex.yy.c
/obj/y.tab.h
/obj/y.tab.c
/obj/y.output

/src/*.ps
/src/*.dot
/src/y.tab.c
/src/y.tab.h
/src/lex.yy.c
/src/*.output
/src/*.json

/symbolTableJson/*

*.json
*.dot
*.ps
temp
code.txt
*.s
symbolTable.txt
*.o
*.asm
.vscode/*
.vscode/settings.json
asmOut.s
outputs/*